@import "../../utils/mixin";
@import "../../utils/variabls";

.block {
  height: 150px;
}
.block2 {
  height: 70px;
}
.detail {
  font-family: $ralewayFont;
  display: flex;
  flex-direction: row;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  margin: auto;
  width: 95vw;
  max-width: 1740px;
  overflow: hidden;
  .stars {
    color: rgb(231, 198, 6);
    font-size: 20px;
  }
  .sidebar {
    background-color: $lightMediumGreen;
    text-align: center;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    margin: auto 2vw;
    margin-top: 2vw;
    padding-bottom: 10px ;
  }

  .sidebarDark {
    background-color: #181123;
    box-shadow: 0px 0px 6px 4px rgba(93, 4, 153, 0.491);
  }

  .secondCont {
    background-color: white;
    border-radius: 10px;
    border: 2px solid rgb(235, 211, 211);
    width: 25rem;
    margin: 0px 20px;
  }

  .secondContDark {
    background-color: #4c3d63;
  }

  .imagen {
    border: 2px solid rgb(235, 211, 211);
    border-radius: 10px;
  }

  .name {
    font-family: $ralewayFont;
    font-size: 30px;
    font-weight: 700;
    color: $darkPurple;
  }

  .flags {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 0.5rem;
  }

  .language {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .subjects {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
  }

  .subject {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-bottom: 1rem;
    margin-left: 1.4vw;
  }

  .siglas {
    margin-left: 5px;
  }

  .righbar {
    text-align: center;
    align-items: center;
    table {
      margin-left: auto;
      margin-right: auto;
      border-collapse: collapse;
      width: 80%;
    }

    th,
    td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: center;
    }

    th {
      background-color: #f2f2f2;
    }
    button {
      @include button-styles2(1vw);
      font-weight: 700;
      height: 4vh;
      position: relative;
    }
  }

  .link {
    text-decoration: none;
  }
}

.contSelect {
  font-family: $ralewayFont;
  background-color: $lightMediumGreen;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.5px solid rgba(0, 0, 0, 0.123);
  border-radius: 10px;
  margin-top: 2rem;
  height: 80px;
  select {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    width: 200px;
    margin-left: 10px;
  }
}

.contSelectDark {
  background-color: #181123;
  box-shadow: 0px 0px 6px 4px rgba(93, 4, 153, 0.491);
}
.chooseLang {
  margin-right: 20px;
  margin-left: 5px;
  color: $darkMediumGray;
  font-weight: 600;
}

.contInputs {
  font-family: $ralewayFont;
  background-color: $lightMediumGreen;
  height: 3.5rem;
  display: flex;
  align-items: center;
  margin-top: 3rem;
  margin-bottom: 5rem;
  border: 0.5px solid rgba(0, 0, 0, 0.123);
  border-radius: 10px;

  font-weight: 700;
}
.contInputsDark {
  background-color: #181123;
  box-shadow: 0px 0px 6px 4px rgba(93, 4, 153, 0.491);
}
.mercadopago {
  font-size: 500px;
}
.chooseSubj {
  margin-right: 5px;
  color: $darkMediumGray;
  font-weight: 600;
}
@media only screen and (max-width: 1200px) {
  .detail {
    width: 100vw;
    font-size: 12px;
    .secondCont {
      width: 20rem;
    }
  }
}

.contAbout {
  width: 57vw;

  h3 {
    @include h-3;
    font-size: 1.2vw;
  }
}