@import "../../utils/mixin";
@import "../../utils/variabls";

.div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em;

  button {
    @include button-styles1(0.9vw);
    margin-top: 1em;
  }

  .cancel {
    @include button-styles2(0.9vw);
    margin-top: 1em;
  }

  label {
    @include h-4;
    margin-bottom: 0.5em;
  }
}
