@import "../../utils/mixin";
@import "../../utils/variabls";

.dropdown {
  display: flex;
  align-items: center;
  justify-content: center;
  .dropdownToggle {
  }
  .dropdownToggle a {
    @include h-3;
    color: $darkGray;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
    transition: 0.2s;
  }

  .dropdownToggle:hover {
    transition: 0.2s;
    transform: scale(1.05);
  }

  .containerColumn {
    background-color: #43a04838;
    width: 28vw;
    height: 12vw;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    padding-right: 3vw;
    margin-top: 18vw;
    position: absolute;
  }

  .containerColumn a {
  }

  .list {
    list-style: none;
    transition: 0.2s;
  }

  .list a {
    @include p-p;
    color: $darkGray;
    font-weight: 500;
    text-decoration: none;
    transition: 0.2s;
    cursor: pointer;
  }

  .list a:hover {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  .list li {
    margin-top: 10px;
  }

  .list {
    @include h-4;
    width: 400px;
    padding-left: 10px;
    display: grid;
    grid-template-columns: repeat(
      auto-fit,
      minmax(80px, 1fr)
    ); /* Columnas automáticas */
    grid-gap: 50px; /* Espacio entre elementos */
    row-gap: 8px;
    align-items: center;
  }

  .list:hover {
    cursor: pointer;
  }
}
