@import "../../utils/mixin";
@import "../../utils/variabls";

.dropdown {
  display: flex;
  align-items: center;
  justify-content: center;
  .dropdownToggle {
    display: inline-flex;
  }
  .dropdownToggle a {
    @include h-3;
    color: $darkGray;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
    transition: 0.2s;
    text-transform: capitalize;
  }
  .arrow {
    transition: 0.3s;
    color: $lightPurple;
  }

  .dropdownToggle:hover {
    .arrow {
      transition: 0.3s;
      transform: scale(1.2);
      color: $darkMediumPurple;
    }
  }

  .containerColumn {
    background-color: white;
    width: 28vw;
    height: 9vw;
    border-radius: 0px 0px 10px 10px;
    display: flex;
    justify-content: space-between;
    padding-right: 3vw;
    margin-top: 14vw;
    position: absolute;
  }
  .containerColumn2 {
    background-color: white;
    width: 28vw;
    height: 12vw;
    border-radius: 0px 0px 10px 10px;
    display: flex;
    justify-content: space-between;
    padding-right: 3vw;
    margin-top: 17vw;
    position: absolute;
    box-shadow: 0px 6px 4px 2px rgba(0, 0, 0, 0.25);
  }

  .list {
    @include h-4;
    width: 29vw;
    padding-left: 0.5vw;
    display: grid;
    grid-template-columns: repeat(
      auto-fit,
      minmax(7vw, 1vw)
    ); /* Columnas automáticas */
    grid-gap: 4vw; /* Espacio entre elementos */
    row-gap: 0.6vw;
    align-items: center;
    margin: 15px 5px;
  }

  .line span::before {
    content: "•";
    margin-right: 5px;
  }

  .line span {
    @include p-p;
    color: $darkGray;
    font-weight: 500;
    text-decoration: none;
    transition: 0.2s;
    cursor: pointer;
  }

  .line span:hover {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
}
