@import "../../utils/mixin";
@import "../../utils/variabls";

.contCard {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.containerWizard {
  display: flex;
  width: 100%;
}

.containerCard {
  margin-top: 1vw;
  display: grid;
  grid-template-columns: repeat(3, 25%);
  justify-content: center;
  gap: 5%;
  min-width: 250px;
}

.paginator {
  flex-direction: row;
  padding-left: 37vw;
}
