@import "../../utils/mixin";
@import "../../utils/variabls";

.contCard {          
    flex-wrap: wrap;      
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;     
    justify-content: center;  
       
}

.containerWizard {    
    background-color: white;
    display: flex;   
    width: 100%;       
    //justify-content: center;     
}

.containerCard {
    margin-top: 1vw;
    display: flex;
    flex-wrap: wrap;          
}




