@import "../../utils/mixin";
@import "../../utils/variabls";

.contPaginator {
    display: flex;
    margin-top: 4vw;
    margin-bottom: 2vw;
    justify-content: center;
    min-width: 100%;
    flex-direction: row;
}

.contPaginator button {
    @include p-p;
    font-weight: 600;
    border-radius: 7px;
    height: 30px;
    width: 5vw;

    padding: 5px 5px 5px 5px;
    cursor: pointer;  
 
}

.contPaginator span{
    margin-left: 20px;
    margin-right: 20px;
    @include h-4;
    font-weight: 600;    
}

.btn {
    width: 5rem;
    background-color:$darkMediumGreen;    
    transition: 0.3s;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
     &:hover {
        background-color: $darkGreen;
        transition : 0.3s;
     }
}

.btnFirst {
    background-color: rgba(147, 148, 148, 0.527);
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: 0.3s;
    &:hover {
        background-color: rgba(78, 78, 78, 0.527);
        transition: 0.3s;
     }
}



.numbers {    
    display: inline;   
}

.btnSelect{
    @include button-styles1(1vw);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
 margin : 0px;
 

      
}

.btnSelected{
    @include button-styles1(1vw);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    margin : 0px;
    border : 2px solid $darkMediumPurple;
    
    
    
}