@import "../../utils/mixin";
@import "../../utils/variabls";

.contPaginator {
    margin-top: 4vw;
    margin-bottom: 2vw;
    justify-content: center;
    width: 100%;
    margin-left: 30vw;
}

.contPaginator button {
    @include p-p;
    font-weight: 600;
    border-radius: 7px;
    height: 30px;
    width: 70px;
    border: none;
    padding: 5px 15px 5px 15px;
    cursor: pointer;
}

.contPaginator span{
    margin-left: 20px;
    margin-right: 20px;
    @include h-4;
    font-weight: 600;
}
