@import "../../utils/mixin";
@import "../../utils/variabls";

.adminPage {
  .title {
    margin-top: 3.7vw;
    width: 100%;
    text-align: center;
    @include h-1;
    font-size: 20px;
    color: $darkMediumPurple;
    margin-bottom: -1vw;
    width: auto;
    height: 6vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
