@import "../../utils/mixin";
@import "../../utils/variabls";

.footer {
  width: 100%;
  height: 16.5vw;
  display: flex;
  flex-direction: column;
  background-color: $lightGreen;
  padding-top: 0vw;

  .containerSmall {
    background-color: $darkMediumGreen;
    width: 100%;
    height: 6vw;
  }

  .containerMedium {
    display: flex;
    justify-content: space-evenly;
  }

  .containerCopy {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $darkGreen;
    height: 2vw;
    color: $lightPurple;
  }

  .link {
    text-decoration: none;
  }

  h2 {
    @include h-2;
    font-weight: 600;
    color: $darkMediumPurple;
  }

  h4 {
    @include h-4;
    color: $darkMediumPurple;
    font-size: 16px;
  }
  h4:hover {
    text-decoration: underline white;
    cursor: pointer;
  }

  .title {
    margin-top: 0.9vw;
    width: 5vw;
  }
  .icons {
    height: 6vw;
    padding: 0vw 40vw 0 40vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .face {
    @include icon($lightMediumPurple);
    transition: 1.5s;
  }
  .face:hover {
    @include icon(#1877f2);
    transition: 0.1s;
  }
  .inst {
    @include icon($lightMediumPurple);
    transition: 1.5s;
  }
  .inst:hover {
    @include icon(#d42689);
    transition: 0.1s;
  }
  .twit {
    @include icon($lightMediumPurple);
    transition: 1.5s;
  }
  .twit:hover {
    @include icon(#1690db);
    transition: 0.1s;
  }
  .lin {
    @include icon($lightMediumPurple);
    transition: 1.5s;
  }
  .lin:hover {
    @include icon(#0a66c2);
    transition: 0.1s;
  }
  .yout {
    @include icon($lightMediumPurple);
    transition: 1.5s;
  }
  .yout:hover {
    @include icon(#ff0000);
    transition: 0.1s;
  }
}
