@import "./variabls";
@mixin h-1 {
  font-family: $ralewayFont;
  font-size: 80px;
  font-weight: 700;
}

@mixin h-2 {
  font-family: $ralewayFont;
  font-size: 80px;
  font-weight: 700;
}

@mixin h-3 {
  font-family: $ralewayFont;
  font-size: 80px;
  font-weight: 700;
}

@mixin h-4 {
  font-family: $ralewayFont;
  font-size: 80px;
  font-weight: 700;
}
