@import "./variabls";

@mixin h-1 {
  font-family: $ralewayFont;
  font-size: 3vw;
  font-weight: 700;
}

@mixin h-2 {
  font-family: $ralewayFont;
  font-size: 30px;
  font-weight: 700;
}

@mixin h-3 {
  font-family: $ralewayFont;
  font-size: 20px;
  font-weight: 600;
}

@mixin h-4 {
  font-family: $ralewayFont;
  font-size: 1.3vw;
  font-weight: 400;
}

@mixin p-p {
  font-family: $ralewayFont;
  font-size: 15px;
  font-weight: 400;
}

@mixin button-styles1($font-size) {
  font-size: $font-size;
  font-family: $ralewayFont;
  font-weight: 600;
  background-color: rgb(231, 231, 231);
  color: $darkPurple;
  border-radius: 7px;
  width: auto;
  height: auto;
  border: none;
  margin: 15px;
  padding: 5px 15px 5px 15px;
  box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.25));
  transition: 0.2s;

  &:hover {
    background-color: $lightPurple;
    transition: 0.2s;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.65);
  }
}

@mixin button-styles2($font-size) {
  font-size: $font-size;
  font-family: $ralewayFont;
  font-weight: 600;
  color: white;
  background-color: $darkMediumGreen;
  border-radius: 7px;
  width: auto;
  height: auto;
  border: none;
  margin: 15px;
  padding: 5px 15px 5px 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: 0.2s;

  &:hover {
    background-color: $darkGreen;
    transition: 0.2s;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.65);
  }
}
