@import "../../utils/mixin";
@import "../../utils/variabls";

.table {
  @include h-4;
  font-size: medium;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  height: 100%;
  margin-top: 20px;
  margin-bottom: 40px;
  width: 90%;
  border: 1px solid black;
  border-collapse: collapse;
  color: $darkGray;

  tr,
  td {
    border: 1px solid black;
    padding: 10px;
  }
}

.reserved {
  background-color: $lightPurple;
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    transition: 0.3s;
    background-color: $lightMediumPurple;
  }
}

.available {
  background-color: $lightGreen;
  cursor: not-allowed;
}

// loader

.loading {
  margin-top: 4vw;
  margin-left: 2vw;
  transform: translate(-50%, -50%);

  &::after {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 4px solid rgba(255, 255, 255, 0.5);
    border-top-color: $lightMediumGreen;
    animation: loading 1s ease-in-out infinite;
  }
}

@keyframes loading {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
