@import "../../utils/mixin";
@import "../../utils/variabls";

.navCont {
  position: fixed;
  display: flex;
  justify-content: space-between;
  z-index: 10;
  width: 100%;
  height: 70px;
  box-shadow: 0px 0px 6px 4px rgba(22, 21, 21, 0.491);
  background-color: rgb(255, 255, 255);

  .icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin-left: 3vw;
  }

  .logo {
    @include icon($darkMediumPurple);
    width: 3vw;
    height: 3vw;
    transition: 0.2s;
  }

  .links {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .navUl {
    display: flex;
    padding: 0;
    gap: 4vw;
  }

  .navUl li {
    list-style: none;
    transition: 0.2s;
  }

  .navUl li a {
    @include h-4;
    color: $darkGray;
    font-weight: 500;
    display: block;
    position: relative;
    text-decoration: none;
    transition: 0.2s;
  }

  .navUl li a:hover {
    transform: scale(1.1);
  }

  .buttons {
    display: flex;
    align-items: center;
    margin-right: 3vw;
  }
  .log a {
    @include h-3;
    text-decoration: none;
    margin-right: 2vw;
    color: $darkMediumGray;
  }

  h3 {
    transition: 0.2s;
  }

  h3:hover {
    transform: scale(1.1);
    transition: 0.2s;
  }

  .button1 a {
    text-decoration: none;
    color: inherit;
  }

  .button2 {
    @include button-styles2(1vw);
    font-weight: 700;
    height: 2vw;
  }

  .button2 a {
    text-decoration: none;
    color: inherit;
  }
}
