$lightBlue: #c5e2e6;
$lightMediumBlue: #7ac4c6;
$darkMediumBlue: #007577;
$darkBlue: #015253;

$lightgreen: #c8e6c9;
$lightMediumgreen: #a5d6a7;
$darkMediumgreen: #43a047;
$darkgreen: #1b5e20;

$lightPurple: #d1c4e9;
$lightMediumPurple: #b39ddb;
$darkMediumPurple: #5e35b1;
$darkPurple: #311b92;

$lightGray: #c5e2e6;
$lightMediumGray: #cfd8dc;
$darkMediumGray: #455a64;
$darkGray: #263238;
