@import "./utils/variabls";

.global-reset {
  margin: 0;
  padding: 0;
}

.body {
  background: linear-gradient(
    to bottom,
    $darkPurple,
    rgb(255, 255, 255),
    $darkPurple
  );
  height: 1500px;
  margin: 0;
  padding: 0;
}
