@import "../../utils/mixin";
@import "../../utils/variabls";

.contCards {     
    background-color: white;    
    justify-content: center;   
    align-content: center;
    align-items: center;   
    font-family: $ralewayFont;  

  border: 2px solid $darkMediumGreen;
    border-radius: 3px;
    box-shadow: 5px 5px 5px 0px rgba(1, 0, 8, 0.808);    
    text-align: center;
    margin-left: 3vw;          
    margin-top: 6vw; 
    width: 9vw;    
 
    background-image: linear-gradient(to right, white, white, $lightMediumPurple);
    background-size: 300% 100%;
    transition: background-position 0.6s ease-in-out;
    height: auto;
    min-width: 250px;
    max-width: 280px;
}

.contCards:hover {
    background-position: 100% 0;
}

.contCards h2 {    
    font-family: $ralewayFont;
    font-size: 20px;
    font-weight: 700;
    color: $darkPurple;   

}

.contCards p {
    padding: 0.4vh;
    margin: 0;
    color: $darkMediumGreen;
}

.secondCont {    
    background-color: white;
    border-radius: 4px;    
    border: 2px solid $darkMediumGreen; 
    min-height: 18rem;
    max-height: 22 rem;  
   margin-left: 0.5vw;
   margin-right: 0.5vw;
    margin-bottom: 0.5vw;
}

.secondCont h3 {
    color: rgba(11, 12, 12, 0.527);
    margin: 0;       
}

.imagen {
    border-radius: 5px;
}

.tittle {
    font-size: 1.5rem;      
}

.flags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
  }
  
  .language {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 1vw;
  }

.subjects {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;   
    margin-left: 1rem; 
    margin-top: 0.5rem;
    font-size: 1vw;
  }
  
  .subject {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 0.5rem;
  }
  
  .siglas {
    margin-left: 5px;
  }