@import "../../utils/mixin";
@import "../../utils/variabls";

.contCards {
  justify-content: center;
  align-content: center;
  align-items: center;
  font-family: $ralewayFont;
  border-radius: 0.5rem;
  text-align: center;
  margin-top: 0.5vw;
  background-size: 300% 100%;
  transition: background-position 0.6s ease-in-out;
  height: 32vw;
  min-width: 23vw;
  max-width: 33vw;
}

.contCards:hover {
  background-position: 100% 0;
  // .image {
  //   box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.7);
  // }
}

.contCardsDark {
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0),
    #5e35b15d,
    #5e35b15d
  );
}
.contCardsLight {
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0),
    rgba(53, 56, 56, 0.13),
    rgba(53, 56, 56, 0.13)
  );
}

.contCards h2 {
  font-family: $ralewayFont;
  font-size: 2vw;
  font-weight: 700;
  color: $darkMediumGreen;
  margin-bottom: 0.5vw;
  margin-top: 0.5vw;
}

.secondCont {
  border-radius: 4px;
  height: 25vw;
  margin-left: 0.5vw;
  margin-right: 0.5vw;
  margin-bottom: 0.5vw;
  .stars {
    min-height: 2vw;
    color: rgb(231, 198, 6);
    font-size: 1.2vw;
    height: 0.4vw;
    margin: 0;
    margin-top: 0.4vw;
    padding: 0;
  }
}

.experience {
  margin-top: -0.5vw;
  b {
    color: $darkMediumGreen;
    font-size: 1.2vw;
  }
}

.about {
  font-size: 1.2vw;
}

.image {
  border-radius: 5px;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
  margin-bottom: 0.3vw;
  width: 8vw;
  height: 8vw;
  transition: box-shadow 1.5s;
}

.imageDark {
  box-shadow: 0px 6px 6px $darkMediumPurple;
}

.flags {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: start;
  gap: 10px;
  margin-top: 1vw;
  min-height: 20px;

  padding-right: 0.2vw;
  b {
    font-size: 1vw;
  }
}

.language {
  display: flex;
  align-items: start;
  gap: 0.4vw;
  font-size: 1vw;
  width: 3vw;
  height: 1vw;
}

.languageText {
  font-size: 0.9vw;
}

.flag {
  width: 1.5vw;
}

.subjects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 0.5vw;
  margin-top: 0.7vw;
  font-size: 1vw;
  height: 2vw;
}

.subject {
  display: flex;
  align-items: center;
  gap: 0.4vw;
}

.subjectText {
  margin-left: 0.4vw;
  font-size: 1.1vw;
}
.about {
  text-align: justify;
}
.secondCont h3 {
  color: rgba(11, 12, 12, 0.527);
  margin: 0.5vw 0 0 0;
  color: $darkMediumGreen;
  font-size: 1.1vw;
}
