.button {
  background-color: rgba(255, 255, 255, 0);
  border: none;
}

.sun {
  color: yellow;
  font-size: 20px;
  font-weight: 700;
}

.moon {
  color: rgb(4, 4, 102);
  font-size: 20px;
  font-weight: 700;
}
