@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.spinner {    
    width: 5vw;
    height: 5vw;
    margin-top: 15vw;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    border: 0.5vw solid rgba(247, 242, 242, 0.4);
    border-top-color: rgb(7, 175, 41);
    animation: spinner 0.6s ease-out infinite;
}