.formSubmit {    
    background-color:#c5e2e6;
    margin: 6rem auto;
    padding: 1rem;
    border-radius: .5rem;
    width: 350px;
}

.userName {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    overflow: hidden;
    text-align: left;    
    margin-bottom: 10px;    
}

.login {       
    align-content: center;
    margin-top: 1rem;
    margin-left: 7rem;
    padding: 0.3rem;    
    width: 8rem;          
    cursor: pointer;    
}