@import "../../utils/mixin";
@import "../../utils/variabls";

.table{
  @include p-p;
  font-size: medium;
  border-radius: 10px;
  overflow: hidden; 
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  
  th, td {
    border: none;  // Añadir esta línea para eliminar los bordes predeterminados.
  }
}

.reserved {
  background-color: $lightPurple;
}

.selected {
  background-color: $lightGreen;
}

