@import "../../../utils/variabls";
@import "../../../utils/mixin";

.hero {
  border: solid black 2px;
  margin: 10px 0px;
  padding: 20px;
  text-align: center;

  h1 {
    @include h-1;
  }

  .button1 {
    @include button-styles1(20px);
  }

  .button2 {
    @include button-styles2(20px);
  }
}
