@import "../../utils/variabls";
@import "../../utils/mixin";

.hero {
  padding-top: 5vw;
  padding-bottom: 9.5vw;
  text-align: center;
  display: flex;
  justify-content: space-around;
  height: auto;

  .container {
    display: flex;
    justify-content: space-around;
    height: auto;
    width: 100%;
    background-color: #d3d3d365;
    padding: 0 7vw;
  }

  .containerText {
    padding: 4vw;
  }

  .text {
    margin-bottom: 3vw;
    width: 35vw;
  }

  h1 {
    @include h-1;
    width: 40vw;
    text-align: start;
    margin-bottom: -0.5vw;
    color: $darkMediumGreen;
  }

  h4 {
    @include h-3;
    width: 34vw;
    text-align: start;
    margin-bottom: -1.5vw;
    color: $darkPurple;
  }

  .buttons {
    display: flex;
    padding-left: 0px;
  }
  .button1 {
    @include button-styles1(1.3vw);
    margin-left: 0px;
  }

  .button1 a {
    text-decoration: none;
    color: inherit;
  }

  .button2 {
    @include button-styles2(1.3vw);
  }

  .button2 a {
    text-decoration: none;
    color: inherit;
  }

  .containerImg {
    height: 35vw;
    align-items: center;
    justify-content: center;
  }
}
