@import "../../utils/mixin";
@import "../../utils/variabls";

.contAside {
  @include h-4;
  font-size: 0.9vw;
  position: relative;
  width: 13vw;
  height: auto;
  border: 2px solid rgb(197, 188, 188);
  border-radius: 0 10px 10px 0;
  align-content: center;
  box-shadow: 0px 0px 4px 4px rgba(102, 102, 102, 0.25);
  padding-bottom: 1vw;
  background-color: white;
}
.contAside h2 {
  color: $darkMediumPurple;
  text-align: center;
  font-size: 1vw;
  margin-bottom: 0;
}

.contAsideDark {
  background-color: #181123;
  border: 2px solid rgba(255, 255, 255, 0);
  box-shadow: 0px 0px 6px 4px rgba(93, 4, 153, 0.491);
}

.contAsideDark h2 {
  color: $darkMediumGreen;
}

.filter {
  padding-left: 10px;
  input {
    cursor: pointer;
  }
}

.checkbox {
  margin-right: 10px;
}

.sort {
  height: 21px;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.select {
  display: block;
  color: $darkMediumPurple;
  font-size: 0.9vw;
  font-family: $ralewayFont;
  border: none;
  padding: 1px 2px 1px 2px;
  border: none;
  border-radius: 0px;
  width: 90px;
  background-color: #18112300;
}
