@import "../../utils/mixin";
@import "../../utils/variabls";

.contAside {
  @include h-4;
  font-size: 0.9vw;
  position: relative;
  width: 13vw;
  height: auto;
  border: 2px solid rgb(197, 188, 188);
  border-radius: 10px;
  align-content: center;
  box-shadow: 0px 0px 4px 4px rgba(102, 102, 102, 0.25);
  padding-bottom: 1vw;
}
.contAside h2 {
  background-color: rgba(121, 122, 122, 0.705);
  color: $darkMediumPurple;
  text-align: center;
}

.contAsideDark {
  background-color: #181123;
  border: 2px solid rgba(255, 255, 255, 0);
  box-shadow: 0px 0px 6px 4px rgba(93, 4, 153, 0.491);
}

.contAsideDark h2 {
  background-color: $lightMediumGray;
  color: $darkMediumGreen;
}

.filter {
  padding-left: 10px;

  input {
    cursor: pointer;
  }
}

.checkbox {
  margin-right: 10px;
}
